
$height: 60px;
.menu_wrapper{
    height: $height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(114.42deg, #262B2F -2.83%, #16191D 166.43%);
    border-bottom: 1px solid #262B2F ;

    .logo_wrapper{
        height: $height;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
            img{
                width: 30px;
                margin-right: 5px;
            }
        }
    }
    .search_wrapper{
        height: $height;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .icons_wrapper{
        height: $height;
        width: 20%;
    }
    .user_wrapper{
        height: $height;
        width: 30%;
        display: flex;
        justify-content:flex-end;
        align-items: center;
.user_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;

    .user_photo{
        height: 40px;
        width: 40px;
        margin-right: 10px;
        background: #999;
        border-radius: 30px;

        img{
            width: 100%;
            border-radius: 30px;
        }
    }
}

    }
}


.ui.input>input {

    border-radius: 50px!important;
}